*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
img{
    max-width: 100%;
    width: 100%;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
button{
    text-align: center;
    color: #fff;
    background-color: var(--gray);
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);
}
button:hover{
    background-color: var(--hoverColor);
    transition: var(--smooth);
}
:root{
    --boldBlue:#0984e3;
    --blue:#74b9ff;
    --gray:#636e72;
    --hoverColor:#b2bec3;
    --smooth: all 0.3s ease-in;
    --bg-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(240, 1%, 25%) 3%, 
      hsl(0, 0%, 19%) 97%
    );
    --bg-gradient-jet: linear-gradient(
      to bottom right, 
      hsla(240, 1%, 18%, 0.251) 0%, 
      hsla(240, 2%, 11%, 0) 100%
    ), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(
      to bottom right, 
      hsl(45, 100%, 71%) 0%, 
      hsla(36, 100%, 69%, 0) 50%
    );
    --bg-gradient-yellow-2: linear-gradient(
      135deg, 
      hsla(45, 100%, 71%, 0.251) 0%, 
      hsla(35, 100%, 68%, 0) 59.86%
    ), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(0, 0%, 25%) 0%, 
      hsla(0, 0%, 25%, 0) 50%
    );
    --text-gradient-yellow: linear-gradient(
      to right, 
      hsl(45, 100%, 72%), 
      hsl(35, 100%, 68%)
    );
  
    /* solid */
  
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
  
    /**
     * typography
     */
  
    /* font-family */
    --ff-poppins: 'Poppins', sans-serif;
  
    /* font-size */
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
  
    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
  
    /**
     * shadow
     */
    
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
}
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .h2,
  .h3,
  .h4,
  .h5 {
    color: var(--gray);
    text-transform: capitalize;
  }
  
  .h2 { font-size: var(--fs-1); }
  
  .h3 { font-size: var(--fs-2); }
  
  .h4 { font-size: var(--fs-4); }
  
  .h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
  }
#scrollTopBtn {
    display: none; /* Ẩn nút ban đầu */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 5px 20px;
    font-size: 30px;
    background-color: rgba(34, 65, 90, 0.2)!important;
    transition: var(--smooth);
}
#scrollTopBtn:hover{
    background-color: rgba(34, 65, 90, 0.5)!important;
    transition: var(--smooth);
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
    display: none;
}
#overlay.show{
    display: initial;
}
/* header */
header{
    position: absolute;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1200px;
}

.nav-logo img{
    width: 57px;
    height: 57px;
    object-fit: cover;
}
.nav-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: var(--gray);
    z-index: 5;
    transition: var(--smooth);
    transform: translateX(-100%); 
    opacity: 0;

}
.nav-link{
    list-style: none;
    margin: 55px;
}
.nav-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: var(--smooth);
}
.nav-link a:hover{
    color: var(--blue);
    transition: var(--smooth);
    border-bottom: 3px solid var(--blue);
}
.nav-links.nav-open{
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}
.nav-btn{
    font-size: 1rem;
    background-color: var(--boldBlue);
    margin-left: 45px;
}

/* menu button */
.nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
    transform: translateX(-30%);
}
.nav-icon{
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}
.nav-icon::before,
.nav-icon::after{
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: var(--gray);
    border-radius: 5px;
    transition: var(--smooth);

}
.nav-icon::before{
    transform: translateY(-12px);

}
.nav-icon::after{
    transform: translateY(12px);
}
/* button animation */
.open .nav-icon::before{
    transform: rotate(45deg) translate(35px,-35px);

}

.open .nav-icon::after{
    transform: rotate(-45deg) translate(35px,35px);
    
}

@media(min-width: 62em){
    .nav-links{
        position: initial;/*về ban đầu*/
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    .nav-link a{
        color: var(--gray);

    }
    .nav-icons{
        display: none;
    }
    .nav-btn{
        background-color: var(--gray);
    }
}

/* banner */
#banner{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15em;
    margin-bottom: 5em;
}

.banner-img{
    position: absolute;
    top: 90px;
    right: 0;
    z-index: -1;
    text-align: center;
    max-width: 500px;
    
}
.banner-img img{
    width: 60%;
    border-radius: 50%;
}
.banner-heading{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
    padding-top: 70%;
}
.banner-heading h1{
    font-size: 2.25rem;
    padding-top: 4em;
    margin-bottom: 0;
}
.banner-heading h3{
    font-size: 1.125em;
    margin-bottom: 0.8em;
    margin-top: 0.2em;
    color: var(--hoverColor);
    font-style: italic;
}
.banner-heading p{
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 1.5em;
}
.view-more{
    font-weight: 300;
    line-height: 2em;
    margin-top: 2%;
    text-align: center;
    color: var(--gray);
    height: 200px;
    overflow: scroll;
    display: block;
    opacity: 0;
}
.view-more p{
    text-align: justify;
}
.view-more.visible{
    opacity: 1;
    transition: var(--smooth);
}
.banner-btn{
    font-size: 1rem;
}
.banner-socials{
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.banner-socials a{
    counter-reset: var(--gray);
    transition: var(--smooth);
}
.banner-socials a:hover{
    transform: translateY(-5px);
    color: var(--gray) !important;
    transition: var(--smooth);
}
.banner-socials a:hover i{
    color: var(--gray);
}
.banner-socials a i{
    font-size: 35px !important;
    color: black;
}
.banner-socials p{
    font-size: 30px;
    padding: 0;
    margin-top: -5%;
}
.banner-socials a:hover{
    color: var(--hoverColor);
    transition: var(--smooth);
}
@media(min-width:62em){
    .banner-heading{
        text-align: initial;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        transform: translateX(100%);
        right: 0;
        max-width: 600px;
        align-items: center;
        margin-top: 10%;
    }
    .view-more{
        font-weight: 300;
        line-height: 2em;
        margin-top: 3%;
        text-align: center;
        color: var(--gray);
        display: block;
        height: 250px;
    }
    .view-more p{
        text-align: justify;
        text-indent: 20px;
    }
    .banner-socials{
        justify-content: flex-start;

    }
    .banner-socials a{
        margin-right: 45px;
    }
    .banner-img{
        top: 25%;
        width: 25%;
        right: initial;
        left: 15em;
        max-width: 400px;
    }
    .banner-img img{
        max-width: 100%;
        width: 100%;
    }
    .banner-socials p{
        font-size: 30px;
        padding: 0;
        margin-top: -2.5%;
        margin-left: -25px;
        margin-right: 20px;
    }
}





/* skills */
#skills{
    position: relative;
    overflow-x: hidden;

}
#skills h2{
    text-align: center;
    color: var(--gray);
    margin-bottom: 3em;
}
.skills-dec{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-60%);
    z-index: -1;
}
.skills-dec:nth-child(2){
    top: initial;
    left: initial;
    bottom: 15%;
    right: 0;
    transform: translateX(50%);
    z-index: -1;
}
.skills-item{
    margin: 3em 0;
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 10%;
    padding-top: 10%;
}
.skills-item img{
    padding-bottom: 4em;
    transition: var(--smooth);
}

.skills-item-heading{
    text-align: center;
    color: var(--gray);
    /* position: relative; */
}
.skills-item-heading p{
    font-weight: 300;
    line-height: 2em;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 1em;
}
.box-1{
    position: relative;
    display: block;
    text-align: left;
}

.p1{
    padding: 9px 10px;
    font-size: 11px;
}
.skill-container{
    width: 90%;
    background-color: var(--blue);
    margin: 0px 10px;
}
.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #4d4d4d;
    transform: translateX(0);
}
.java{
    width: 80%;
    background-color: #4d4d4d;
}
.python{
    width: 60%;
    background-color: #4d4d4d;
}
.c{
    width: 70%;
    background-color: #4d4d4d;
}
.html{
    width: 70%;
    background-color: #4d4d4d;
}
.css{
    width: 70%;
    background-color: #4d4d4d;
}
.php{
    width: 60%;
    background-color: #4d4d4d;
}
.shell{
    width: 70%;
    background-color: #4d4d4d;
}
.git{
    width: 60%;
    background-color: #4d4d4d;
}
.container-tools{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-tools li{
    white-space: nowrap;
}
.knowlege{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.skills-item-heading li{
    list-style: none;
    margin: 1em .5em;
}
.skills-item-heading li:not(:last-child):after {
    content: ",";
}
@media(min-width: 62em){
    .skills-dec{
        transform: translateX(-40%);
    }
    .skills-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .skills-item img{
        width: 40%;
        padding-bottom: 0;
    }
    .skills-item-heading{
        width: 45%;
        text-align: initial;
    }
    .skills-item-heading p{
        max-width: 500px;
        margin: 0;
    }
    .skills-item:nth-child(odd) img{
        order: 2;
        width: 40%;
        padding-bottom: 0;
    }
    .skills-item-heading:nth-child(odd){
        order: 1;
        width: 45%;
        text-align: initial;
    }
}

/* works */
#works{
    padding-top: 10em;
    position: relative;
    overflow-x: hidden;   
    overflow: hidden;
}
#works h2{
    text-align: center;
    color: var(--gray);
}
.works-dec{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    z-index: -1;
}
.works-dec:nth-child(2){
    position: absolute;
    top: initial;
    left: initial;
    bottom: 15%;
    right: 0;

    transform: translateX(50%);
    z-index: -1;
}
.works-img-single{
    margin: 2em 0;
}
.works-img-single img{
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    transition: var(--smooth);
}
.works-img-single img:hover{
    transform: translateY(-10px);
    transition: var(--smooth);
}
.works-img-single:nth-child(odd){
    padding-top: 5em;
}
.works-img-single:nth-child(3){
    margin-top: -5em;
}
.works-btn{
    text-align: center;
    margin-top: 10px;
}
.works-btn button{
    font-size: 12px;
}

.view-projects{
    color: var(--gray);
    border-top: 2px solid black;
    margin-top: 5%;
}
.view-content{
    display: flex;
}
.project{
    margin-bottom: 2rem;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 0;
    border-bottom: 1px solid #636e72;
}
.project h3{
    /* font-weight: 300; */
    /* line-height: 2em; */
    margin-bottom: 1.5em;
    
}
.project p{
    font-weight: 300;
    /* line-height: 2em; */
    margin-bottom: 1.5em;
    text-align: justify;
    padding-left: 10px;
}
.works-img1, .works-img2{
    padding-bottom: 80px;
}
.works-img2{
    display: none;
}
@media (min-width: 62em){
    #works h2{
        margin-bottom: 3em;
    }
    .works-img1, .works-img2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 100px;
    }
    .works-img2{
        display: none;
    }
    .works-img-single{
        margin: 0 5em;
        width: 35%;
    }
    .works-img-single:nth-child(3){
        margin-top: 0;
    }
    .works-btn{
        text-align: left;
    }
}

/* footer */
#footer{
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    /* border-top: 1px solid #000; */
}
.footer-img{
    position: absolute;
    top: 3em;
    right: 0;
    transform: translateX(0%);
    z-index: -1;
    text-align: center;
    
}
.footer-img img{
    width: 50%;
    
}
.footer-heading{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}
.footer-contact{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}
.footer-contact a{
    text-decoration: none;
    color: var(--gray);
    display: flex;
    font-size: 20px;
    transition: var(--smooth);
}
.footer-contact a:hover{
    color: var(--blue);
    transform: translateY(-5px);
    transition: var(--smooth);
}
.footer-contact a p{
    padding-left: 0.5em;
}
.footer-dec{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-55%);
    z-index: -1;
}
@media(min-width: 62em){
    .footer-img{
        top: 33%;
        right: 0;
        transform: translateX(0%);
        width: 40%;
        
    }
    .footer-heading{
        text-align: initial;
        margin: 0;
        max-width: 600px;
    }
    .footer-heading .banner-socials{
        padding-left: 30%;
    }
    .footer-contact{
        display: flex;
        justify-content: space-evenly;
    }
}

.circle{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--gray);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px;
    line-height: 100px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    transition: opacity 0.5s;
    opacity: 1; /* Bắt đầu với độ mờ hoàn toàn */
}
.circle .fa{
    color: var(--gray);
    margin: 0;
    padding: 0;
    animation: animate 1s linear infinite;
    cursor: pointer;
}
.works-btn-control{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    border: 2px solid var(--gray);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    transition: opacity 0.5s;
    opacity: 1;
}
.works-btn-control::before{
    content: 'VIEW MORE';
    position: absolute;
    color: var(--gray);
    font-family: Arial;
    font-size: 8px;
    left: 5px;
    top: 13px;
}
.works-btn-control .fa{
    color: var(--gray);
    margin: 0;
    padding: 0;
    animation: animate 1s linear infinite;
    cursor: pointer;
}
.works-view-detail{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s ease;
    transform: translateY(-80px);
    background-color: rgba(17, 145, 225, 0.6);
    width: 100%;
    height: 60px;
    cursor: pointer;
    z-index: -10;
}
.works-view-detail>a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.works-img-single:hover  .works-view-detail,.works-img-single a:hover +.works-view-detail{
    display: flex;
}

@keyframes animate{
    0%
    {
        transform: translateY(-50px);
        text-shadow: 0 50px 0 var(--gray);
    }
    20%
    {
        transform: translateY(0px);
        text-shadow: 0 10px 0 var(--gray);
    }
    40%
    {
        transform: translateY(0px);
        text-shadow: 0 -10px 0 var(--gray);
    }
    60%
    {
        transform: translateY(0px);
        text-shadow: 0 0px 0 var(--gray);
    }
    
    100%
    {
        transform: translateY(100px);
        text-shadow: 0 -50px 0 var(--gray);
    }
}
.circle::before{
    content: 'SCROLL DOWN';
    position: absolute;
    color: var(--gray);
    font-family: Arial;
    font-size: 10px;
    left: 12px;
    top: 20px;
}
@media(max-width: 62em){
    .circle{
        top: 105%;
    }
    #introduction{
        display: none;
    }
}
#introduction img{
    padding: 0;
    margin: -20px 0;
}

/*-----------------------------------*\
    #RESUME
  \*-----------------------------------*/
  
  .article-title { margin-bottom: 30px; }
  
  
  /**
   * education and experience 
   */
  
  .timeline { margin-bottom: 30px; }
  
  .timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .timeline-list {
    font-size: var(--fs-6);
    margin-left: 45px;
  }
  
  .timeline-item { position: relative; }
  
  .timeline-item:not(:last-child) { margin-bottom: 20px; }
  
  .timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
  }
  
  .timeline-list span {
    color: var(--vegas-gold);
    font-weight: var(--fw-400);
    line-height: 1.6;
  }
  
  .timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--jet);
  }
  
  .timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: var(--blue);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
  }
  
  .timeline-text {
    color: var(--gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
  }
  .icon-box {
    position: relative;
    background: var(--blue);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--blue);
    box-shadow: var(--shadow-1);
    z-index: 1;
    margin-left: 6px;
  }
  
  .icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
  }
  
  .icon-box ion-icon { --ionicon-stroke-width: 35px; }
  
  @media(min-width: 62em){
    .works-btn-control{
        top: inherit;
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 60px;
    }
    .works-btn-control::before{
        font-size: 10px;
        left: 10px;
        top: 15px;
    }
    .timeline-list { margin-left: 65px; }
  
    .timeline-item:not(:last-child)::before { left: -40px; }
  
    .timeline-item::after {
      height: 8px;
      width: 8px;
      left: -43px;
    }
  
    .skills-item:not(:last-child) { margin-bottom: 25px; }
  .icon-box {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      font-size: 18px;
    }
  }

  .timeline-text img{
    width: auto !important;
    height: auto !important;
  }
  @media(max-width: 62em){
    .timeline-text img{
        margin: 0;
        padding: 0;
    }
  }

  .project-text{
    margin: 10px;
  }
  .project-ul{
    list-style: none;
  }
  .project-li{
    margin: 0.3em;
    font-size: 15px;
  }
  .project-li:nth-child(2){
    display: flex;
  }
  .project-label{
    font-weight: bold;
    font-style: normal;
    margin-right: 0.3em;
  }
  .project-header{
    display: flex;
    justify-content: space-between;
  }
  .project-header a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--blue);
  }
  .project-title-header{
    font-size: 25px;
  }
  .project-title{
    font-size: 20px;
  }
  .project-box{
    margin-left: 2px;
  }
  .project-section{
    margin-top: 5%;
  }
  .project-list .timeline-item{
    border-bottom: 1px dotted  #000;
  }


.section {
    opacity: 0;
    transform: translateY(100px) scale(0.9);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}
/* process english */

.progress-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.progress-bar {
    display: flex;
    gap: 5px;
}

.level {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 5px;
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
}

.level.active {
    background-color: #4caf50;
    box-shadow: 0 0 15px #4caf50;
    opacity: 1;
}

/* Hiệu ứng cho text */
.skills-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s ease-in-out;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Thêm shadow */
    background: linear-gradient(90deg, rgba(255, 215, 0, 0.8), rgba(255, 69, 0, 0.8)); /* Gradient background */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.level-category {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    opacity: 0; /* Bắt đầu ẩn */
    transform: translateX(-100%); /* Bắt đầu dịch chuyển ra ngoài */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Thêm shadow */
    background: linear-gradient(90deg, rgba(255, 215, 0, 0.8), rgba(255, 69, 0, 0.8)); /* Gradient background */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Khi cấp bậc được cập nhật, hiển thị level-category */
.level-category.show {
    opacity: 1;
    transform: translateX(0); /* Dịch chuyển về vị trí ban đầu */
}

.skills-text.visible {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none; /* Ẩn text trước khi bắt đầu hiệu ứng */
}
